.webix_radio_option {
    margin-right: 10px;
}

div.mxWindow {
    -webkit-box-shadow: 3px 3px 12px #C0C0C0;
    -moz-box-shadow: 3px 3px 12px #C0C0C0;
    box-shadow: 3px 3px 12px #C0C0C0;
    border: 1px solid #c3c3c3;
    border-radius: 3px;
    position: absolute;
    overflow: hidden;
    z-index: 1;
}

table.mxWindow {
    border-collapse: collapse;
    table-layout: fixed;
    font-size: 8pt;
}

td.mxWindowTitle {
    background-color: #3498db;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
    overflow: hidden;
    height: 13px;
    font-size: 12px;
    padding: 4px;
    color: #fff
}

td.mxWindowPane {
    vertical-align: top;
    padding: 0px;
}

div.mxWindowPane {
    overflow: hidden;
    position: relative;
}

td.mxWindowPane td {
    font-size: 8pt;
}

td.mxWindowPane input, td.mxWindowPane select, td.mxWindowPane textarea, td.mxWindowPane radio {
    border-color: #8C8C8C;
    border-style: solid;
    border-width: 1px;
    font-size: 8pt;
    padding: 1px;
}

td.mxWindowPane button {
    /*background: url('data:image/gif;base64,R0lGODlhCgATALMAAP7+/t7e3vj4+Ojo6OXl5e/v7/n5+fb29vPz8/39/e3t7fHx8e7u7v///wAAAAAAACH5BAAAAAAALAAAAAAKABMAAAQ2MMlJhb0Y6c2X/2AhjiRjnqiirizqMkEsz0Rt30Ou7y8K/ouDcEg0GI9IgHLJbDif0Kh06owAADs=') repeat-x;*/
    font-size: 8pt;
    padding: 2px;
    cursor: pointer;
    /*float: left;*/
}

div.mxTooltip {
    -webkit-box-shadow: 3px 3px 12px #C0C0C0;
    -moz-box-shadow: 3px 3px 12px #C0C0C0;
    box-shadow: 3px 3px 12px #C0C0C0;
    background: #e0e0e0;
    border-style: solid;
    border-width: 1px;
    border-color: lightGray;
    border-radius: 4px;
    font-size: 11px;
    position: absolute;
    padding: 6px;
    color: black;
}

div.mxPopupMenu {
    -webkit-box-shadow: 0 2px 6px 2px rgba(60,64,67,.15);
    -moz-box-shadow: 0 2px 6px 2px rgba(60,64,67,.15);
    box-shadow: 0 2px 6px 2px rgba(60,64,67,.15);
    position: absolute;
    background: white;
    border-radius: 4px;
    border: none;
    padding: 3px;
}

table.mxPopupMenu {
    border-collapse: collapse;
    margin: 0px;
}

    table.mxPopupMenu hr {
        color: #cccccc;
        background-color: #cccccc;
        border: none;
        height: 1px;
    }

    table.mxPopupMenu tr {
        font-size: 11px;
    }

.mxPopupMenuItem {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

tr.mxPopupMenuItem {
    cursor: pointer;
    color: #666666;
}

tr.mxPopupMenuItemHover {
    cursor: pointer;
    background-color: #eeeeee;
    color: #666666;
}

td.mxPopupMenuItem {
    padding: 7px 30px 7px 30px;
    font-size: 15px;
    color: #666666;
    white-space: nowrap;
}

td.mxPopupMenuIcon {
    background-color: white;
    padding: 0px;
}

    td.mxPopupMenuIcon div {
        width: 16px;
        height: 16px;
    }

    td.mxPopupMenuIcon .geIcon {
        padding: 2px;
        padding-bottom: 4px;
        margin: 2px;
        border: 1px solid transparent;
        opacity: 0.5;
    }

        td.mxPopupMenuIcon .geIcon:hover {
            border: 1px solid gray;
            border-radius: 2px;
            opacity: 1;
        }

.mxDisabled {
    opacity: 0.2 !important;
    cursor: default !important;
}

    .mxDisabled:hover {
        background: inherit !important;
    }

.geViewer {
    font-size: 12px;
    border: none;
    margin: 0px;
    width: 100%;
    height: 100%;
}

.geBackgroundPage {
    box-shadow: 0px 0px 2px 1px #d1d1d1;
}

.geDiagramContainer {
    background-color: none;
    font-size: 0px;
    outline: none;
    left: 0;
    right: 0;
    overflow: hidden;
    position: absolute;
    cursor: default;
}

.geDiagramBackdrop {
    background-color: #f8f9fa;
}

.geDialog {
    position: absolute;
    background: white;
    line-height: 1em;
    overflow: hidden;
    padding: 20px;
    border: 1px solid #acacac;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 2px 2px #d5d5d5;
    -moz-box-shadow: 0px 0px 2px 2px #d5d5d5;
    box-shadow: 0px 0px 2px 2px #d5d5d5;
    filter: progid:DXImageTransform.Microsoft.DropShadow(OffX=2, OffY=2, Color='#d5d5d5', Positive='true');
    z-index: 2;
}

.geTransDialog {
    position: absolute;
    overflow: hidden;
    padding: 20px;
    z-index: 2;
}

.geDialogClose {
    position: absolute;
    width: 9px;
    height: 9px;
    opacity: 0.5;
    cursor: pointer;
    filter: alpha(opacity=50);
}
    .geDialogClose:hover {
        opacity: 1;
    }

.geDialogTitle {
    box-sizing: border-box;
    white-space: nowrap;
    background: rgb(229, 229, 229);
    border-bottom: 1px solid rgb(192, 192, 192);
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: rgb(35, 86, 149);
}

.geDialogFooter {
    background: whiteSmoke;
    white-space: nowrap;
    text-align: right;
    box-sizing: border-box;
    border-top: 1px solid #e5e5e5;
    color: darkGray;
}
.geSidebarContainer {
    background: #fbfbfb;
    overflow: auto;
    position: absolute;
    width: 100%;
    height: 100%;
}

.geSidebar {
    border-bottom: 1px solid #e5e5e5;
    padding: 6px;
    padding-left: 10px;
    /*padding-bottom: 12px;*/
    overflow: hidden;
}

    .geSidebar, .geSidebarContainer .geTitle, .geSidebar .geItem {
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        -o-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
    }

.geSidebarContainer .geTitle {
    cursor: pointer !important;
    display: block;
    font-size: 12px;
    border-bottom: 1px solid #e5e5e5;
    padding: 5px 0px 5px 14px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

    .geSidebarContainer .geTitle:hover {
        background: #eee;
        border-radius: 2px;
    }

.geSidebarContainer .geDropTarget {
    border-radius: 10px;
    border: 2px dotted #b0b0b0;
    text-align: center;
    padding: 6px;
    margin: 6px;
    color: #a0a0a0;
    font-size: 12px;
}

.geSidebar .geItem {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 4px;
    cursor: pointer;
}

    .geSidebar .geItem:hover {
        background-color: #e0e0e0;
    }

.geSidebarTooltip {
    position: absolute;
    background: #fbfbfb;
    overflow: hidden;
    box-shadow: 0 2px 6px 2px rgba(60,64,67,.15);
    border-radius: 6px;
    filter: progid:DXImageTransform.Microsoft.DropShadow(OffX=2, OffY=2, Color='#d5d5d5', Positive='true');
}
.poster-snackbar {
    background: rgb(50 50 50 / 75%);
    border-radius: 8px;
    position: absolute;
    z-index: 10;
    left: 50%;
    transform: translate(-50%, 0);
}
.poster-snackbar .webix_el_label .webix_el_box {
    font-size: 14px;
    font-weight: normal;
}
